.l-full {
  background-color: #36540f;
  height: 100vh;
}

.l-full__content {
  width: 100vw;
  text-align: center;
  color: white;
}

.l-reverse__nav {
  position: relative;
  padding: 10px 0;
  height: 95px;
}
.l-reverse__body {
  display: flex;
  height: calc(100vh - 100px);
}
.l-reverse__localNav {
  flex: 0.5;
  position: relative;
  text-align: center;
  height: calc(100vh - 100px);
}
.l-reverse__content {
  flex: 3;
  height: auto;
}

.c-box {
  padding-top: 5vh;
}

.word-card-bar{
  height: calc(100vh - 215px - 35px) /* 100vh - (タグバーのheight + 検索テキストボックスのheight) - ヘッダーのheight */
  /* height: calc(100vh - 215px - 100px) */
}