.l-full {
  background-color: #36540f;
}

.l-full__content {
  width: 100vw;
  height: 100vh;
  text-align: center;
  color: white;
}

.l-reverse__nav {
  position: relative;
  padding: 10px 0;
}
.l-reverse__body {
  display: flex;
}
.l-reverse__localNav {
  flex: 0.5;
  position: relative;
  text-align: center;
}
.l-reverse__content {
  flex: 3;
  height: auto;
}

.c-box {
  padding-top: 5vh;
}